*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../assets/header_background.avif);
    background-size: cover;
    height: 208px;
}